*.iml
.gradle
/.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/.cxx
**/ndkHelperBin
**/.cxx
*.cxx
app/.cxx/*
*.hprof
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
captures/
.externalNativeBuild/
.cxx/
*.apk
output.json
local.properties
*.log
*.ap_
*.aab
*.dex
*.class
bin/
gen/
Thumbs.db
.navigation
obj/
/*/out
/*/*/build
/*/*/production
*.iws
*.ipr
*~
*.swp
.idea/workspace.xml
.idea/tasks.xml
.idea/datasources.xml
.idea/dataSources.ids
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
*.iml
*.ipr
*.iws
.idea/
app.*.symbols
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/